TLS_CACERT /etc/pki/sssd_cacert.pem
{% set serverlist=[] %}
{% for server in auth_sssd_servers %}
{%   do serverlist.append("ldaps://" ~ server) %}
{% endfor %}
URI {{ serverlist | join(" ") }}
BASE {{ auth_sssd_search_base }}
BINDDN {{ auth_sssd_binddn }}
